.article {
    margin-bottom: 120px;
}

.article-wrapper {
    display: flex;
}

.article-info {
    padding: 120px 72px 0;
}

.article-philosophy {
    background: $color-peach-accent;
}

.article-instagram {
    background: $color-violet-accent;
}

.info__text-caption {
    color: $color-base;
    margin-bottom: 24px;
}

.info__text-text {
    @include font($size: 1.8rem, $weight: 400);
    width: 576px;
    line-height: 27px;
    color: $color-light-gray;
    margin-bottom: 134px;
}

.article-image {
    width: 100%;
}

.link-more {
    @include font($size: 1.6rem, $weight: 400);
    color: $color-base;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-gray;
}